<%= form_for(@content) do |f| %>
  <% if @content.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@content.errors.count, "error") %> prohibited this content from being saved:</h2>

      <ul>
      <% @content.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Author %><br />
    <%= f.text_field :author , :required => true, :placeholder => 'Lastname, First name letter'%>
    <button>Add more authors</button>
    <label>If there's no author, write down <strong>Anonymous</strong></label>
  </div>
  
  <div class="field">
    <%= f.label :Publication_date %><br />
    <%= f.text_field :find_date, :required => true, :placeholder => 'YYYY/MM/DD'%>
    <label>If there's no date, write down <strong>n.d. or s.f</strong></label>
  </div>
  <div class="field">
    <%= f.label :Reference_date %><br />
    <%= f.date_select :find_date %>
  </div>
  <div class="field">
    <%= f.label :title1 %><br />
    <%= f.text_field :title1 %>
  </div>
  <div class="field">
    <%= f.label :title2 %><br />
    <%= f.text_field :title2 %>
  </div>
  <div class="field">
    <%= f.label :website %><br />
    <%= f.text_field :website %>
  </div>
  <div class="field">
    <%= f.label :volume %><br />
    <%= f.text_field :volume %>
  </div>
  <div class="field">
    <%= f.label :edition %><br />
    <%= f.text_field :edition %>
  </div>
  <div class="field">
    <%= f.label :pub_place %><br />
    <%= f.text_field :pub_place %>
  </div>
  <div class="field">
    <%= f.label :pub_house %><br />
    <%= f.text_field :pub_house %>
  </div>
  <div class="field">
    <%= f.label :journal_num %><br />
    <%= f.text_field :journal_num %>
  </div>
  <div class="field">
    <%= f.label :pages %><br />
    <%= f.text_field :pages %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
